body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.landing_page {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode .landing_page {
    background-color: #333;
    color: #ffffff;
}

.heading {
    font-size: 2em;
    margin-bottom: 20px;
}

.players {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.players input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(50% - 22px);
}

.player1, .player2 {
    display: grid;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 10px;
}

.start-btn, .dark-mode-toggle {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.start-btn {
    background-color: #28a745;
    color: #fff;
}

.start-btn:hover {
    background-color: #218838;
}

.dark-mode-toggle {
    background-color: #007bff;
    color: #fff;
}

.dark-mode-toggle:hover {
    background-color: #0056b3;
}
