* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.landing_page, .game.container {
    text-align: center;
    background-color: rgb(17, 243, 20);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0056b3;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode .landing_page, body.dark-mode .game.container {
    background-color: brown;
    color: #ffffff;
}

.heading, .game-title {
    font-size: 2em;
    margin-bottom: 20px;
}

.players {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.players input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(50% - 22px);
}

.player1, .player2 {
    display: grid;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 10px;
}

.start-btn, .restart-btn, .new-game, .dark-mode-toggle {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.start-btn {
    background-color: #28a745;
    color: #fff;
}

.start-btn:hover {
    background-color: #218838;
}

.restart-btn {
    background-color: #28a745;
    color: #fff;
}

.restart-btn:hover {
    background-color: #218838;
}

.new-game {
    background-color: #007bff;
    color: #fff;
}

.new-game:hover {
    background-color: #0056b3;
}

.dark-mode-toggle {
    background-color: #007bff;
    color: #fff;
    position: absolute;
    top: 20px;
    left: 20px;
}

.dark-mode-toggle:hover {
    background-color: #0056b3;
}

.bored {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

.cell:hover {
    background-color: #f0f0f0;
}

.status {
    margin-top: 20px;
    font-size: 1.2em;
}